@model IEnumerable<MSContext.ScHmo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HmoName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifierAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HmoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorAccount.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifierAccount.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HmoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HmoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HmoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
